.img-wrapper {
    border: 1px solid #000;
    padding: 1em;
}

.img-main {
    margin-bottom: 1rem;
}

.footer-titles {
    font-size: 28px;
    font-weight: bold;
}

.remover-btn {
    width: 100%;
}

.grey-text-footer {
    color: grey;
}

.parcelamento-wrapper .header, .frete-wrapper .header {
    border: 1px solid #000;
    padding: 1rem;
}

.parcelamento-wrapper .header h6, .frete-wrapper .header h6 {
    font-weight: bold;
}

.parcelamento-wrapper .container-fluid, .frete-wrapper .container-fluid {
    border: 1px solid #000;
    border-top: none;
}

.parcelamento-wrapper .container-fluid .row, .frete-wrapper .container-fluid .row {
    padding: 1rem;
}

.parcelamento-wrapper .container-fluid .row:first-child, .frete-wrapper .container-fluid .row:first-child {
    border-top: none;
}

.parcelamento-wrapper .container-fluid .row:nth-child(even), .frete-wrapper .container-fluid .row:nth-child(even) {
    background: #dedede;
}

.header-carrinho {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .center-style {
        width: 100%;
        margin-top: 50%;
    }
}

@media screen and (min-width: 992px) {
    .paragrafo {
        margin-top: 50%;
    }
}

.imgItens {
    width: 100%;
}

.cep {
    margin-top: 50%;
}

.erro-campo {
    transition: 0.3s;
    background-color: #EA898B;
    border-color: #972629;
}

.address input[type="password"], .address input[type="email"] {
    border: 1px solid #242424;
    outline: none;
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    font-family: 'Lato', sans-serif;
}
