<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="cart">Carrinho</a></li>
                <li class="active">Finalizar</li>
            </ol>
        </div>
    </div>
</div>

<div class="account" ng-if="!userLogged">
    <div class="container">
        <div class="account-bottom">
            <div class="col-md-6 account-left">
                <form name="criarUsuario">
                    <div class="account-top heading">
                        <h3>Novo Usuário</h3>
                    </div>
                    <div class="address">
                        <span>Nome</span>
                        <input type="text" ng-model="user.firstName" ng-required="true">
                    </div>
                    <div class="address">
                        <span>Sobrenome</span>
                        <input type="text" ng-model="user.lastName" ng-required="true">
                    </div>
                    <div class="address">
                        <span>CPF</span>
                        <input type="text" name="cpf" ng-model="user.cpf" ng-class="{'erro-campo':!criarUsuario.cpf.$valid && criarUsuario.cpf.$dirty}" ui-mask="999.999.999-99" ng-cpf ng-required="true" maxlength="11">
                    </div>
                    <div class="address">
                        <span>RG</span>
                        <input type="text" name="rg" ng-model="user.rg" ng-required="true">
                    </div>
                    <div class="address">
                        <span>Email</span>
                        <input type="email" ng-model="user.email" ng-required="true">
                    </div>
                    <div class="address">
                        <span>Senha</span>
                        <input type="password" name="password" ng-model="user.password" ng-class="{'erro-campo':!pwdMatch && criarUsuario.password.$dirty}" ng-required="true">
                    </div>
                    <div class="address">
                        <span>Confirme a senha</span>
                        <input type="password" ng-model="user.passwordConfirmation" name="confirmpwd" ng-blur="compare()" ng-class="{'erro-campo':!pwdMatch && criarUsuario.confirmpwd.$dirty}" ng-required="true">
                    </div>
                    <div class="address new">
                        <input type="submit" value="submit" ng-click="criarUsuario.$valid && cadastrarUsuario()" ng-disabled="!pwdMatch">
                    </div>
                </form>
            </div>
            <div class="col-md-6 account-left">
                <form name="loginForm">
                    <div class="account-top heading">
                        <h3>Usuário Cadastrado</h3>
                    </div>
                    <div class="address">
                        <span>Email</span>
                        <input type="email" ng-model="login.email" ng-required="true">
                    </div>
                    <div class="address">
                        <span>Senha</span>
                        <input type="password" ng-model="login.password" ng-required="true">
                    </div>
                    <div class="address">
                        <a class="forgot" href="#">Esqueceu sua senha?</a>
                        <input type="submit" value="Login" ng-click="loginForm.$valid && signup()">
                    </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--start-new address-->
<div class="account" ng-if="userLogged && passo === passoBase.endereco">
    <div class="container">
        <div class="account-bottom">
            <div class="col-md-12 account-left">
                <div class="account-top heading">
                    <h3>Selecione o endereço de entrega</h3>
                </div>
                <div class="row selected-address-ctrl">
                    <div class="col-md-4 text-center" ng-repeat="end in userLogged.endereco">
                        <p>{{end.logradouro}}, {{end.numero}}</p>
                        <p>CEP: {{end.cep}}</p>
                        <p>{{end.bairro}}</p>
                        <p>{{end.cidade}} - {{end.uf}}</p>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" ng-click="selectAddress(end, $index)"><span class="glyphicon glyphicon-ok"></span> UTILIZAR</button>
                        </div>
                    </div>
                </div>

                <!--Caso usuário não possua endereços cadastrados-->
                <div name="criarEndereco">

                    <div class="row" ng-if="userLogged.endereco.length <= 0">
                        <div class="col-md-12">
                            <h3>Você ainda não possui endereços cadastrados!</h3>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h4>Cadastrar Endereço</h4>
                    </div>
                    <form class="novoEndereco">
                        <div class="col-md-2">
                            <div class="input-group">
                                <label for="cep">CEP:</label>
                                <input type="text" id="cep" class="form-control" ng-model="address.cep" ng-blur="buscarCEP()" placeholder="Ex.: 0000000">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label for="logradouro">Rua:</label>
                                <input type="text" id="logradouro" class="form-control" ng-model="address.logradouro" placeholder="Busque pelo CEP">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="input-group">
                                <label for="numero">Numero:</label>
                                <input type="text" id="numero" class="form-control" ng-model="address.numero">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <label for="bairro">Bairro:</label>
                                <input type="text" id="bairro" class="form-control" ng-model="address.bairro">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <label for="cidade">Cidade:</label>
                                <input type="text" id="cidade" class="form-control" ng-model="address.cidade">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="input-group">
                                <label for="uf">UF:</label>
                                <input type="text" id="uf" class="form-control" ng-model="address.uf">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row selected-address-ctrl">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" ng-click="addAddress()"><span class="glyphicon glyphicon-plus"></span><span> Adicionar</span></button>
                                    <button type="button" class="btn btn-primary" ng-click="cancelEdit()" name="button"><span class="glyphicon glyphicon-remove"></span><span> Cancelar</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Payment Screen -->
<div class="payment" ng-if="userLogged && passo === passoBase.pagamento">
    <div class="container">
        <h3>Informe os dados do cartão</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <form name="ccForm">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label for="numero-cartao">Numero do cartão</label>
                                    <input id="numero-cartao" type="text" name="ccNumber" class="form-control" ng-model="dadosCartao.numero" placeholder="0000 0000 0000 0000" ng-required="true" ng-minlenght="16">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="validade-mes">Val. mês</label>
                                            <input id="validade-mes" type="text" name="validade" class="form-control" ng-model="dadosCartao.mes" ng-required="true" maxlength="2">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <label for="validade-ano">Val. ano</label>
                                            <input id="validade-ano" type="text" name="validade" class="form-control" ng-model="dadosCartao.ano" ng-required="true" maxlength="2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <label for="proprietario">Proprietario</label>
                                    <input id="proprietario" type="text" name="prop" class="form-control" placeholder="PROPRIETARIO DO CARTAO" ng-required="true" ng-model="dadosCartao.proprietario">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <label for="codigo">Codigo de segurança</label>
                                    <input id="codigo" type="text" name="prop" class="form-control" placeholder="XXX" ng-model="dadosCartao.codigoSeguranca" ng-required="true" maxlength="3">
                                </div>
                            </div>
                            <!-- <div class="col-md-1">
                                <p>Bandeira</p>
                                <p>{{ccForm.numero.$ccType || 'Unknown'}}</p>
                            </div> -->
                            <div class="col-md-12">
                                <div class="row selected-address-ctrl">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" ng-click="selecionarPagamento()" ng-disabled="!ccForm.$valid">COMPRAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Resume Screen -->
<div class="resumo" ng-if="passo === passoBase.resumo">
    <div class="container">
        <h3>Resumo da compra</h3>
        <div class="row">
            <div class="col-md-4">
                <h4>Produtos</h4>
                <table class="table table-striped">
                    <thead>
                        <th>
                            #
                        </th>
                        <th>
                            Nome Produto
                        </th>
                        <th>
                            Qtd
                        </th>
                        <th>
                            Preço Total
                        </th>
                    </thead>
                    <tbody>
                        <tr class="" ng-repeat="prod in produtos">
                            <td>{{$index + 1}}</td>
                            <td>{{prod.name}}</td>
                            <td>{{prod.quantity}}</td>
                            <td>{{prod.price * prod.quantity}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-4 text-center">
                <h4>Endereço de entrega</h4>
                <div class="">
                    <p>{{selectedAddress.logradouro}}, {{selectedAddress.numero}}</p>
                    <p>CEP: {{selectedAddress.cep}}</p>
                    <p>{{selectedAddress.bairro}}</p>
                    <p>{{selectedAddress.cidade}} - {{selectedAddress.uf}}</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h4>Pagamento</h4>
                <div class="">
                    <p>Cartão</p>
                    <p>Número: {{dadosCartao.numero}}</p>
                    <p>Validade: {{dadosCartao.mes}} / {{dadosCartao.ano}}</p>
                    <p>Proprietario: {{dadosCartao.proprietario}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Total da compra:</span><span ng-bind="getTotalCompra()"></span>
            </div>
        </div>
        <div class="row">
            <div class="row selected-address-ctrl">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" ng-click="finalizarCompra()">FINALIZAR COMPRA</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="conclusion" ng-if="passo === passoBase.concluido">
    <div class="container">
        <div class="account-top heading">
            <h3>Compra Realizada com sucesso!</h3>
        </div>
        <p>Pedido: {{pedido}}</p>
        <a class="btn btn-primary" ui-sref="home">Voltar ao Início</a>
    </div>
</div>
