<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <div class="banner-1"><img src="resources/img/car_1.jpg" class="img-responsive" alt="Adidas Bicycle" /></div>
            </li>
            <li>
                <div class="banner-2"><img src="resources/img/car_2.jpg" class="img-responsive" alt="Air Max" /></div>
            </li>
            <li>
                <div class="banner-3"><img src="resources/img/car_3.png" class="img-responsive" alt="#forcaChape" /></div>
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<script src="resources/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function() {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function() {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function() {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--End-slider-script-->
<!--start-banner-bottom-->
<div class="banner-bottom">
    <div class="container">
        <div class="banner-bottom-top">
            <!-- <div class="col-md-12 banner-bottom-left"> -->

                <div ng-repeat="product in products | limitTo: 2 | orderBy: random" class="col-md-6 banner-bottom-left">
                    <div class="abt-one">
                        <a ui-sref="detalhes({productId:product._id})">
                            <img ng-src="resources/img/{{product.photo[0].name}}" alt="{{product.name}}" width="150px" height="150px" />
                        </a>
                        <h4><a ui-sref="detalhes({productId:product._id})">{{product.name}}</a></h4>
                        <p>{{product.description}}</p>
                    </div>
                </div>
            <!-- </div> -->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--end-banner-bottom-->
<!--start-shoes-->
<div class="product">
    <div class="container">
        <!-- <div class="product-main">
            <div class="col-md-12 p-left"> -->
                <div class="product-one">
                    <div ng-repeat="product in products" class="col-md-3 product-left">
                        <div class="p-one simpleCart_shelfItem">
                            <a>
                                <img ng-src="resources/img/{{product.photo[0].name}}" alt="{{product.name}}" width="100px" height="100px" />
                                <div class="mask mask1">
                                    <a ui-sref="detalhes({productId:product._id})"><span>Veja Mais</span></a>
                                </div>
                            </a>
                            <h4>{{product.name}}</h4>
                            <p><span class=" item_price">R${{product.price}}</span></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            <!-- </div> -->
            <div class="clearfix"></div>
        <!-- </div> -->
    </div>
</div>
<hr>
<!--end-shoes-->
<!--start-abt-shoe-->
<!-- <div class="abt-shoe">
    <div class="container">
        <div class="abt-shoe-main">
            <div class="col-md-4 abt-shoe-left">
                <div class="abt-one">
                    <a href="single.html"><img src="images/abt-1.jpg" alt="" /></a>
                    <h4><a href="single.html">Cras dolor ligula</a></h4>
                    <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="col-md-4 abt-shoe-left">
                <div class="abt-one">
                    <a href="single.html"><img src="images/abt-2.jpg" alt="" /></a>
                    <h4><a href="single.html">Cras dolor ligula</a></h4>
                    <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="col-md-4 abt-shoe-left">
                <div class="abt-one">
                    <a href="single.html"><img src="images/abt-3.jpg" alt="" /></a>
                    <h4><a href="single.html">Cras dolor ligula</a></h4>
                    <p>Phasellus auctor vulputate egestas. Nulla facilisi. Cras dolor ligula, pharetra vitae efficitur ac, tempus vitae nisl. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div> -->
<!--end-abt-shoe-->
