<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a ui-sref="home">Home</a></li>
				<li class="active">{{productsType}}</li>
			</ol>
		</div>
	</div>
</div>
<!--end-breadcrumbs-->
<!--start-product-->
<div class="product">
	<div class="container" ng-if="products.length > 0">
		<div class="product-main">
			<div class="col-md-12 p-left">
				<div class="product-one">
					<div ng-repeat="product in products" class="col-md-4 product-left single-left">
						<div class="p-one simpleCart_shelfItem">
							<a>
								<img src="{{product.photo.name}}" alt="{{product.name}}" width="150px" height="150px" />
								<div class="mask mask1">
									<a ui-sref="detalhes({productId:product._id})"><span>Visualizar</span></a>
								</div>
							</a>
							<h4>{{product.name}}</h4>
							<p><span class=" item_price">R${{product.price}}</span></p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div ng-if="products.length <= 0" style="text-align: center;font-size: 30px;"> Desculpe, não há produtos para essa categoria. </div>

</div>
<!--end-product-->
